 body {
    text-align: center;
  }
  
    section {
      background-image:url(https://st2.depositphotos.com/3283585/5608/v/450/depositphotos_56085273-stock-illustration-vector-pattern-with-cartoon-bakery.jpg);
    }
 
 p {
   font-size: 125%;
 }

 li {
   font-size: 125%;
 }

 h1{
   font-size: 200%;
   font-style: italic ;
 }

 h2 { font-size: 150%;
}

h3 {
   font-size: 125%;
 }

.pães {
  width: 20%;
 }
