 body {
    background-color:rgb(252, 212, 163);
    text-align: center;
 }

 p {
   font-size: 125%;
 }

 li {
   font-size: 125%;
 }

 h1{
   font-size: 200%;
   font-style: Brush Script MT ;
 }

 h2 { font-size: 150%;
}

h3 {
   font-size: 125%;
 }
